<!--——————————————————————————————————————————————-->
<!-- ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​-->
<!-- ​ ​ ​ ​ ​We meet each other on this road, ​ ​ ​ ​ ​ ​ ​ ​ ​-->
<!-- ​ ​ ​ ​ ​In the web inspector, or so I think; ​ ​ ​ ​ ​-->
<!-- ​ ​ ​ ​ ​I ask, are you looking for the code? ​ ​ ​ ​ ​-->
<!-- ​ ​ ​ ​ ​Because if so, then here's the link! ​ ​ ​ ​ ​-->
<!-- ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​-->
<!-- ​ ​ ​ ​ ​https://github.com/azlen/azlen.me ​ ​ ​ ​ ​ ​ ​ ​-->
<!-- ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​-->
<!--——————————————————————————————————————————————-->
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  {% include before.html %}

  <article>
    {% include nav.html %}
    {% include header.html %}

    {{ content }}
  </article>

  {% include after.html %}
  {% include math.html %}
</body>
</html>
